@import '../style/typography';
@import '../style/colour';
@import '../style/spacing';

.page-hero {
    position: relative;
    padding: 0 1rem 0 50%;
    display: flex;
    min-height: 35.188rem;
    background: color('primary');
    color: color('primary', 'inverse');
    align-items: center;
    justify-content: center;
    margin-bottom: space('section-break');

    .image {
        content: '';
        position: absolute;
        display: block;
        background: color('content') no-repeat center;
        background-size: cover;
        top: 0;
        left: 0;
        right: 50%;
        bottom: 0;
    }

    &.full-image {
        .image {
            right: 0;
        }
    }

    &.round {
        .title {
            display: flex;
            border-radius: 50%;
            border: 3px solid;
            width: 12rem;
            height: 12rem;
            align-items: center;
            justify-content: center;

            span {
                @extend %moon3;
                font-size: 1.4rem;
                margin: 0;
                padding: 1rem;
                text-align: center;
            }
        }
    }
}