@import '../style/colour';
@import '../style/typography';
@import '../style/spacing';
@import '../style/components';

.prices {
    margin: 0;
    background: color('secondary');
    color: color('secondary', 'inverse');
    padding-top: 3rem;
    padding-bottom: 3rem;

    .container {
        display: flex;

        & > div {
            display: flex;
            flex-direction: column;
            flex: 1 0 0;
            border-right: 3px solid #FFF;
            padding: 1rem;

            &:first-child {
                border-left: 3px solid #FFF;
            }

            &:last-child {
                h3 {
                    color: color('content');
                }
            }
        }
    }

    h3 {
        @extend %h1;
        color: color('primary');
        margin: space('heading-break') 0 0 0;
        text-decoration: none;
    }

    p {
        flex: 1 0 0;
    }

    .price {
        @extend %h1;
        margin: 1rem 0 0 0;
        font-size: 1.4rem;
        color: inherit;
        text-decoration: none;

        small {
            font-size: 0.6rem;
        }
    }

    button {
        @extend %button;
        font-size: .9rem;
        padding: 1rem 2rem;
        font-weight: bold;
        display: block;
        margin: 2rem auto 0;
        color: color('content', 'inverse');
        background: color('content');
    }
}

.service-quote {
    position: relative;
    display: flex;
    min-height: 30rem;
    background: color('primary');
    color: color('primary', 'inverse');
    align-items: center;
    margin-top: space('section-break');

    .image {
        display: block;
        background: color('content') no-repeat center;
        background-size: cover;
        flex: 1 0 0;
        padding: 4rem;
        align-self: stretch;
    }

    div {
        padding: 4rem;
        flex: 1 0 0;
        
        p {
            font-size: 1.7rem;
            font-weight: bold;
            margin: 0 0 space('heading-break');
        }
    }
}