@import '../style/colour';
@import '../style/typography';
@import '../style/breakpoint';

$blog-higlight-size-desktop: 48%;
$blog-higlight-height-desktop: 58%;
$blog-higlight-size: 100%;

.blog-highlight-list-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-highlight-component {
    flex: 0 0 $blog-higlight-size-desktop;
    padding-bottom: $blog-higlight-height-desktop;
    margin-bottom: 4%;
    position: relative;
    display: block;
    background: color('secondary') center center;
    background-size: contain;
    background-size: cover;
    text-decoration: none;

    span {
        font-family: $feature-font;
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        width: 52%;
        height: 50%;
        background: color('primary');
        color: white;
        padding: 1.4rem 1.9rem;
        font-size: 1.7rem;
        line-height: 1.6;

        strong {
            text-decoration: underline;
            display: block;
        }
    }
}