@import '../style/colour';
@import '../style/typography';
@import '../style/breakpoint';

$blog-higlight-size-desktop: 48%;
$blog-higlight-size: 100%;

.blog-highlight-list-component {
    @include breakpoint('md') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .blog-highlight-component {
            flex: 0 0 $blog-higlight-size-desktop;
            padding-bottom: $blog-higlight-size-desktop;
            margin-bottom: 4%;
        }
    }
    .blog-highlight-component {
        margin-bottom: 4%;
    }
}

.blog-highlight-component {
    position: relative;
    display: block;
    background: color('secondary') center center;
    background-size: contain;
    width: $blog-higlight-size;
    padding-bottom: $blog-higlight-size;
    background-size: cover;
    text-decoration: none;

    span {
        font-family: $feature-font;
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 50%;
        background: color('primary');
        color: white;
        padding: 1em;
        font-size: 1.5rem;

        strong {
            text-decoration: underline;
            display: block;
        }
    }
}