@import '../style/colour';
@import '../style/typography';
@import '../style/spacing';

.contact-component {
    display: flex;
    align-items: stretch;
    background: color('secondary');
    color: color('secondary', 'inverse');

    .content {
        padding: 3rem;
        flex: 1 0 0;
    }

    .image {
        flex: 1 0 0;
        padding: 3rem;
        background: no-repeat center;
        background-size: cover;
    }

    h2 {
        @extend %moon3;
        margin-bottom: space('content-break');
    }

}