@import '../style/colour';
@import '../style/spacing';
@import '../style/typography';

.services {
    h2 {
        padding-top: space('section-break');
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
    }

    li {
        background: color('primary');
        text-align: center;
        flex: 1 0 0;
        margin-left: 3px;

        &:first-child {
            margin: 0;
        }
    }

    img {
        padding: 1rem;
        height: 12rem;
        display: block;
        margin: auto;
    }

    h3 {
        font-size: 1rem;
        font-family: Moon, Arial, Helvetica, sans-serif;
        background: color('secondary');
        color: color('secondary', 'inverse');
        padding: 1rem space('gutter');
        white-space: nowrap;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.quote {
    margin: space('section-break') 0;
    background: color('secondary');
    color: color('secondary', 'inverse');
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;

    .container {
        display: flex;
        align-items: center;
    }

    img {
        flex: 0 0 auto;
        display: block;
        background: color('content');
        border: 2px solid color('content', 'inverse');
        border-radius: 50%;
        height: 200px;
        width: 200px;
        margin-right: 2rem;
    }

    .content {
        flex: 1 1 auto;
    }

    p {
        font-size: 1.6rem;
        margin-bottom: space('heading-break');

        &::before {
            content: '\201c';
        }

        &::after {
            content: '\201d';
        }
    }
}

.home-blog {
    .blog-highlight-component {
        margin: 0;
    }
}

.home-form {
    background: color('secondary');
    margin: space('section-break') 0;
    padding: space('section-break') 0;

    h2 {
        border-color: #fff;
    }

    form {
        display: flex;
        justify-content: space-between;
    }

    input {
        font-weight: bold;
        color: color('content');
        font-size: font-size('h2');
        flex: 1 1 0;
        border: 2px solid #fff;
        padding: 1rem .5rem;
        background: none;
        margin-left: 1%;

        &:first-child {
            margin: 0;
        }

        &::placeholder {
            opacity: 1;
            color: color('content');
        }
    }

    button {
        font-weight: bold;
        background: color('content');
        color: #fff;
        font-size: font-size('h2');
        flex: 1 0 0;
        border: 2px solid color('content');
        padding: 1rem .5rem;
        margin: 0 0 0 1%;
        border-radius: 0;
    }
}
