@import '../style/colour';
@import '../style/spacing';
@import '../style/typography';
@import '../style/components';

.services {
    h2 {
        padding-top: space('section-break');
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
    }

    li {
        background: color('primary');
        text-align: center;
        flex: 1 0 0;
        margin-left: 3px;

        &:first-child {
            margin: 0;
        }
    }

    a {
        flex-direction: column;
        justify-content: stretch;

        &:hover {
            text-decoration: none;

            h3 {
                background: color('secondary','dark');
                color: color('secondary','dark-inverse');
            }
        }
    }

    .image {
        height: 13rem;
        display: block;
        background-size: 65%;
        background-position: center;
        background-repeat: no-repeat;
    }

    h3 {
        font-size: font-size('emphisis');
        font-family: Moon, Arial, Helvetica, sans-serif;
        background: color('secondary');
        color: color('secondary', 'inverse');
        padding: 1rem space('gutter');
        white-space: nowrap;
        align-self: flex-end;
        transition: background-color 500ms, color 500ms;
        overflow: hidden;
        word-spacing: 0.3em;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.quote {
    margin: space('section-break') 0;
    background: color('secondary');
    color: color('secondary', 'inverse');
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    font-weight: bold;

    .container {
        display: flex;
        align-items: center;
    }

    img {
        flex: 0 0 auto;
        display: block;
        background: color('content');
        border: 2px solid color('content', 'inverse');
        border-radius: 50%;
        height: 200px;
        width: 200px;
        margin-right: 4.5rem;
    }

    .content {
        flex: 1 1 auto;
    }

    p {
        font-size: 1.6rem;
        margin-bottom: 1rem;

        &::before {
            content: '\201c';
        }

        &::after {
            content: '\201d';
        }
    }

    small {
        font-size: font-size('small');
    }
}

.home-blog {
    .blog-highlight-component {
        margin: 0;
    }
}

.home-form {
    background: color('secondary');
    margin: space('section-break') 0;
    padding: 4.5rem 0;

    h2 {
        border-color: #fff;
    }

    form {
        display: flex;
        justify-content: space-between;
    }

    input {
        font-weight: bold;
        color: color('content');
        font-size: 1rem;
        flex: 1 1 0;
        border: 2px solid #fff;
        padding: 1.4rem .5rem;
        background: none;
        margin-left: 2%;

        &:first-child {
            margin: 0;
        }

        &::placeholder {
            opacity: 1;
            color: color('content');
        }
    }

    button {
        @extend %enquire-button;
        border-radius: 0;
        font-size: 1rem;
        font-weight: bold;
        flex: 1 0 0;
        margin: 0 0 0 1%;
        padding: 1rem .5rem;
    }
}
