@import '../style/typography';
@import '../style/spacing';
@import '../style/colour';
@import '../style/breakpoint';
@import '../style/components';

@font-face {
    font-family: 'Moon';
    src: url('../assets/moon-bold.woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: $default-font;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: color('content');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 980px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

main {
    position: relative;
    flex: 1 0 0;

    & > div {
        min-height: 100%;
    }
}

.route-enter,
.route-enter-active,
.route-enter-done,
.route-exit,
.route-exit-active,
.route-exit-done {
    transition: opacity 300ms;
}

.route-enter {
    opacity: 0;
}

.route-enter-active {
    opacity: 1;
}

.route-exit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.route-exit-active {
    opacity: 0;
}

ul {
    padding-left: 1.5rem;
}

h2 {
    @extend %h2;
}

p {
    margin: space('content-break') 0;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    margin: auto;
    padding: 0 space('gutter');
    max-width: 980px;
    min-height: 100%;
}

header {
    padding: 2rem 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        @include breakpoint('lg') {
            flex-direction: row;
        }
    }

    button {
        height: 40px;
        width: 40px;
        background: hotpink;
        border: none;
        text-indent: -99999999px;

        @include breakpoint('lg') {
            display: none;
        }
    }

    nav {
        $nav-side-pad: 1.4rem;
        position: relative;
        order: 1;
        display: flex;
        flex: 1 1 auto;
        width: 100%;
        margin-left: - $nav-side-pad;
        margin-top: space('gutter');

        @include breakpoint('lg') {
            margin-top: 0;
            order: 0;
            flex: 1 1 0;
        }

        a {
            display: block;
            font-weight: bold;
            font-family: $feature-font;
            text-transform: uppercase;
            color: color('content');
            text-decoration: none;
            padding: 0.5rem $nav-side-pad;

            &.home {
                margin: 5px 1.8rem 0 auto;
                text-indent: -999999px;
                overflow: hidden;
                background: url('../assets/home.svg') no-repeat center;
                background-size: contain;
                width: 26px;
                height: 26px;

                &:hover {
                    background: url('../assets/home-filled.svg') no-repeat center transparent;
                    background-size: contain;
                }
            }

            &.active,
            &:hover {
                background: color('content');
                color: color('content', 'inverse');
            }

            &.home.active {
                display: none;
            }
        }

        & > span {
            position: relative;
            display: block;

            &:hover {
                .sub-nav {
                    display: block;
                }
            }
        }
    }

    .sub-nav {
        background: color('content');
        display: none;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        padding: space('gutter');

        a {
            font-family: Arial, Helvetica, sans-serif;
            display: block;
            font-size: 0.8rem;
            font-weight: normal;
            color: color('content', 'inverse');
            text-transform: none;
            padding: 0 0 5px;
            white-space: nowrap;
        }
    }

    .logo {
        height: 40px;
        background: color('primary') url('../assets/logo.svg') no-repeat center;
        background-size: contain;
        text-indent: -9999999rem;
        overflow: hidden;
        flex: 0 0 40px;
        width: 250px;

        @include breakpoint('lg') {
            flex: 0 0 250px;
        }
    }
}

.image-block {
    display: flex;
    width: 100%;
    overflow: hidden;

    span {
        flex: 1 1 0;
    }

    img {
        width: 100%;
    }
}

.block-item {
    $block-gutter: 2rem;
    display: flex;
    margin: 0.5rem 0;
    background: color('secondary');
    color: color('secondary', 'inverse');

    .feature {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: color('primary') no-repeat center;
        background-size: cover;
        color: color('primary', 'inverse');
        flex: 0 0 14rem;
        min-height: 10rem;
        padding: $block-gutter;
        text-align: center;

        img {
            max-width: 80%;
        }

        button {
            @extend %button;
        }
    }

    .content {
        padding: $block-gutter;
        flex: 1 1 auto;

        a {
            @extend %button;
            display: inline-block;
            margin-top: space('heading-break');
            padding-left: 1rem;
            padding-right: 1rem;

            &:focus,
            &:active,
            &:hover {
                border-color: inherit;
                outline: none;
                background: color('secondary', 'shadow');
            }
        }
    }

    h2 {
        @extend %h3;
        margin: 0 0 1rem;
    }
}