$colors: (
    'primary': (
        'color': #aedcd3,
        'inverse': #fff,
        'shadow': #a6cac2,
        'dark': #64817e,
        'transparent': rgba(#aedcd3, 0.95)
    ),
    'secondary': (
        'color': #e7e8e9,
        'inverse': #808285,
        'dark': #999999,
        'dark-inverse': #fff,
        'shadow': darken(#e7e8e9, 10%),
    ),
    'content': (
        'color': #808285,
        'light': #9d9fa2,
        'dark': #636466,
        'inverse': #fff
    ),
    'nav': (
        'color': #999999,
        'inverse': #ffffff
    )
);

$hero-button-color: #a5cac2;
$hero-button-hover: #94b4ae;

@function color($name, $variant: 'color') {
    @return map-get(map-get($colors, $name), $variant)
};
