@import './spacing';

@mixin button-color-default {
    color: inherit;
    background: rgba(0,0,0,0);

    &:hover {
        background: color('content');
        border-color: color('content');
        color: color('content', 'inverse');
    }
}

@mixin button-color-clear-on-primary {
    color: color('primary', 'inverse');
    border-color: color('primary', 'inverse');
    background: color('primary');

    &:hover {
        color: color('primary', 'inverse');
        border-color: color('primary', 'inverse');
        background: $hero-button-color;
    }
}

@mixin button-color-dark-on-dark {
    color: color('content', 'inverse');
    border-color: color('content', 'inverse');
    background: color('content', 'light');

    &:hover {
        color: color('content', 'inverse');
        border-color: color('content', 'inverse');
        background: color('content');
    }
}

@mixin button-color-dark-on-white {
    color: color('content', 'inverse');
    background: color('content', 'light');
    border-color: color('content', 'light');

    &:hover {
        color: color('content', 'inverse');
        background: color('content');
        border-color: color('content');
    }
}

%button {
    @include button-color-dark-on-white;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    padding: .5rem;
    justify-self: flex-end;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: space('heading-break');
    transition: background-color 500ms, color 500ms, border-color 500ms;

    &:hover {
        text-decoration: none;
    }

    &:focus,
    &:active {
        outline: none;
    }
}

%rounded-button {
    @extend %button;
    border-radius: 3px;
}

%enquire-button {
    @include button-color-dark-on-dark;
    @extend %button;
    font-size: font-size('small');
    padding: 1rem 3rem;
    font-weight: bold;
    display: block;
}

%modal-button {
    @include button-color-dark-on-white;
    @extend %button;
    padding: 10px 15px;
    border-radius: 0;
}