@import './spacing';

%button {
    color: inherit;
    text-decoration: none;
    background: none;
    border: 2px solid;
    border-radius: 3px;
    padding: .5rem;
    justify-self: flex-end;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: space('heading-break');


    &:focus,
    &:active,
    &:hover {
        border-color: inherit;
        outline: none;
        background: color('secondary', 'shadow');
    }
}