@import './spacing';

%button {
    color: inherit;
    text-decoration: none;
    background: none;
    border: 2px solid;
    border-radius: 3px;
    padding: .5rem;
    justify-self: flex-end;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: space('heading-break');
    background: rgba(0,0,0,0);
    transition: background-color 500ms, color 500ms, border-color 500ms;

    &:hover {
        border-color: inherit;
        background: color('content');
        border-color: color('content');
        color: color('content', 'inverse');
        text-decoration: none;
    }

    &:focus,
    &:active {
        outline: none;
    }
}