@import './spacing';
@import './breakpoint';
@import './colour';

$default-font: 'Arial', 'Helvetica', sans-serif;
$feature-font: 'Moon', 'Arial', 'Helvetica', sans-serif;

$font-sizes: (
    'default': (
        'mobile': 1
    ),
    'hero': (
        'mobile': 2.5
    ),
    'h2': (
        'mobile': 1.125
    ),
    'h3': (
        'mobile': 1.1
    ),
    'emphisis': (
        'mobile': 1.0625
    ),
    'small': (
        'mobile': 0.875
    )
);

@function font-size($name, $device: 'mobile') {
    @return map-get(map-get($font-sizes, $name), $device) * 1rem;
};

%h1,
%hero {
    margin: space('section-break') 0 space('heading-break');
    font-family: $feature-font;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: normal;
    color: color('primary', 'inverse');
    border: none;
    text-decoration: underline;
    line-height: 1.33;
    letter-spacing: 0.2rem;

    span {
        padding: .2em;
        border: 3px solid;
        border-width: 3px;
        margin-bottom: -3px;
        margin-right: -3px;
    }
}

%h2 {
    margin: space('section-break') 0 space('heading-break');
    font-size: font-size('h2');
    color: color('content');
    border-bottom: 3px solid;

    &:first-child {
        margin-top: 0;
    }
}

%h3 {
    margin: space('section-break') 0 space('heading-break');
    font-size: font-size('h3');
    color: inherit;
    border-bottom: none;
}