@import './spacing';
@import './breakpoint';
@import './colour';

$default-font: 'Arial', 'Helvetica', sans-serif;
$feature-font: 'Moon', 'Arial', 'Helvetica', sans-serif;

$font-sizes: (
    'default': (
        'mobile': 1
    ),
    'hero': (
        'mobile': 2.5
    ),
    'h2': (
        'mobile': 1.2
    ),
    'h3': (
        'mobile': 1.1
    )
);

@function font-size($name, $device: 'mobile') {
    @return map-get(map-get($font-sizes, $name), $device) * 1rem;
};

%h1 {
    margin: space('section-break') 0 space('heading-break');
    font-family: $feature-font;
    text-transform: uppercase;
    font-size: font-size('hero');
    font-weight: normal;
    color: color('primary', 'inverse');
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint('sm') {
        flex-wrap: nowrap;
    }

    span {
        padding: 0 3px;
        border: 1px solid;
        margin-bottom: -1px;
        margin-right: -1px;
    }
}

%hero {
    @extend %h1;
    font-size: 4rem;

    span {
        padding: 0 8px;
        border-width: 3px;
        margin-bottom: -3px;
        margin-right: -3px;
    }
}

%h2 {
    margin: space('section-break') 0 space('heading-break');
    font-size: font-size('h2');
    color: color('content');
    border-bottom: 1px solid;
}

%h3 {
    text-transform: uppercase;
    margin: space('section-break') 0 space('heading-break');
    font-size: font-size('h3');
    color: inherit;
    border-bottom: none;
}