@import '../style/colour';
@import '../style/spacing';

.block-item.event-item {
    .feature {
        min-height: 15.5rem;
    }

    .content {
        position: relative;

        a {
            position: absolute;
            bottom: $block-gutter;
            right: $block-gutter;
            background: color('content');
            color: color('content', 'inverse');
            border-color: color('content');

            &:hover {
                background: color('content', 'dark');
                border-color: color('content', 'dark');
            }
        }

        &::after {
            display: block;
            content: '';
            clear: both;
        }
    }
}