@import '../style/colour';
@import '../style/spacing';

.block-item.event-item {
    .feature {
        min-height: 15.5rem;
    }

    .content {
        position: relative;

        a {
            position: absolute;
            bottom: $block-gutter;
            right: $block-gutter;
        }

        &::after {
            display: block;
            content: '';
            clear: both;
        }
    }
}