@import '../style/breakpoint';
@import '../style/colour';
@import '../style/spacing';

.footer-component {
    background: color('primary');
    color: color('primary', 'inverse');
    margin-top: space('section-break');

    .container {
        display: flex;
        justify-content: space-between;
    }

    .social {
        display: flex;
        list-style: none;
        padding: 2rem 0;
        
        li {
            margin: 0 2rem 0 0;
        }

        .facebook {
            background-image: url('../assets/facebook.hover.svg');
    
            &:hover {
                background-image: url('../assets/facebook.green.svg');
            }
        }
    
        .linkedin {
            background-image: url('../assets/linkedin.hover.svg');
    
            &:hover {
                background-image: url('../assets/linkedin.green.svg');
            }
        }
    
        .instagram {
            background-image: url('../assets/instagram.hover.svg');
    
            &:hover {
                background-image: url('../assets/instagram.green.svg');
            }
        }

        a {
            display: block;
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 50%;
            border: 2px solid;
            color: inherit;
            text-indent: -99999999px;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60%;
            transition: background-color 500ms, background-image 500ms, color 500ms, border-color 500ms;

            &:hover {
                background-color: #fff;
            }
        }
    }

    .links {
        display: block;
        list-style: none;
        padding: 2rem 0;

        li {
            display: block;
        }

        a {
            display: block;
            font-family: 'Moon';
            color: inherit;
            text-transform: uppercase;
            text-decoration: none;
            text-align: right;
        }
    }
}