@import '../style/colour';
@import '../style/typography';
@import '../style/breakpoint';
@import '../style/components';

@keyframes enter {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes exit {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

.hero-component {
    $side-pad: 3.5rem;
    $top-pad: 3.8rem;

    position: relative;
    overflow: hidden;
    padding-bottom: 563px;

    section {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
        background: color('secondary') center center;
        background-size: cover;
    }

    .container {
        height: 100%;
    }

    .dots {
        position: absolute;
        display: flex;
        align-items: center;
        right: $side-pad;
        bottom: $top-pad;
        height: 2.6rem;

        span {
            cursor: pointer;
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
            border: 2px solid #fff;
            background: rgba(#fff, 0);
            margin-left: 1.2rem;
            transition: background-color 500ms;
            
            &:hover {
                background: $hero-button-hover;
            }

            &.current,
            &:hover.current {
                background: #fff;
            }
        }
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: color('primary', 'transparent');
        color: color('primary', 'inverse');
        height: 100%;
        width: 100%;
        padding: $top-pad $side-pad;
        width: 490px;
    }

    h2 {
        @extend %h1;
        margin: 0;
        padding-right: 5rem;
    }

    p {
        margin: 1.8rem 0 0;
        font-size: font-size('emphisis');
        line-height: 1.7;
        font-weight: bold;
        color: color('primary', 'dark');
        flex: 1 1 0;
        overflow: hidden;
    }

    a {
        @extend %button;
        background: $hero-button-color;
        border-color: #fff;

        &:focus,
        &:active,
        &:hover {
            background: $hero-button-hover;
            border-color: #fff;
        }
    }

    .initial {
        display: block;
        left: 0;
    }
    .previous {
        display: block;
        animation: exit 1s;
        left: 100%;
    }
    .current {
        display: block;
        animation: enter 1s;
        left: 0;
    }
}
